blinker
click
Flask
Flask-SQLAlchemy
flask_migrate
greenlet
itsdangerous
Jinja2
keras
MarkupSafe
notebook
psycopg2-binary
python-dotenv
setuptools
spacy
SQLAlchemy
tensorflow
typing_extensions
Werkzeug
