@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0px 20px 0px 20px;
  background-color: #EEE5D2;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 40px;
  font-family: Bebas Neue;
  font-weight: 400;
}

form {
  background: #F7F3EE;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  margin: 20px auto;
  display: grid;
}

#srchbar {
  width: auto;
  margin-left: auto; 
  margin-right: 0;
 }

label {
  display: block;
  margin-bottom: 10px;
  margin: auto;
  width: 90%;
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: auto;
}

button {
  background:#DA1D22;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  margin: auto;
}

button:hover {
  background: #555;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav a {
  text-align: center;
  color: black; 
  font-family: "Montserrat", sans-serif;
  font-size: 18px; 
  font-weight: 500; 
  text-transform: uppercase; 
  word-wrap: break-word;
  text-decoration: none;
  padding: 0px 20px 0px 20px ;
}

nav {
  width: 100%;
  height: 100%; 
  padding: 8px; 
  background: #EEE5D2; 
  border-bottom: 1px black solid; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: inline-flex
}

header{
width: 100%; 
height: 100%; 
position: relative;
}

.topnav {
  justify-content: center; 
  align-items: center;
  gap: 40px; 
  display: flex;
  width: 100%;
}

.flex-nav{
  display: flex;
  flex: 1;
}

.topnav {
  justify-content: center; 
  align-items: center;
  gap: 40px; 
  display: flex;
  width: 100%;
}

nav img {
  margin: 0 auto;
}