<section class="section pt-5 pb-5">
    <div class="container-fluid section">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2022 Gen-Zote. All rights reserved.</p>
                    </div>
                    <div class="col-md-6 background-color-black">
                        <ul class="list-inline text-md-end">
                            <li class="list-inline-item"><a href="/">Home</a></li>
                            <li class="list-inline-item"><a href="#about">About</a></li>
                            <li class="list-inline-item"><a href="#services">Services</a></li>
                            <li class="list-inline-item"><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>
<!-- Bootstrap JS and dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>

</html>