<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Cookie Banner -->

    <!-- Start cookieyes banner -->
	<!-- <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/45a49412fd0e4f69ab7a51bb/script.js"></script> -->
	<!-- End cookieyes banner -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abducted & Missing Persons in Kenya</title>
    <!-- Meta tags SEO -->
    <meta name="description"
        content="Find missing loved ones in Kenya. Report disappearances/abductions. View photos, descriptions. Get support resources. Help bring people home." />
    <meta name="keywords" content="missing persons kenya, Abducted kenyans, kidnapped Kenyans, Gen z, genz, Protests, Demonstrations" />
    <meta name="author" content="Gerathen AI" />
    <!-- Social Media Meta Tags -->
    <meta property="og:title" content="Missing persons Kenya" />
    <meta property="og:description"
        content="Find missing loved ones in Kenya. Report disappearances/abductions. View photos, descriptions. Get support resources. Help bring people home." />
    <meta property="og:image" content="/static/images/image_of_person.jpg" />
    <meta property="og:url" content="https://lostinkenya.org" />
    <meta name="twitter:title" content="Missing Persons Kenya" />
    <meta name="twitter:description"
        content="Find missing loved ones in Kenya. Report disappearances/abductions. View photos, descriptions. Get support resources. Help bring people home." />
    <meta name="twitter:image" content="/static/images/images/image_of_person.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <!-- Social Media Meta Tags End-->

    <link rel="manifest" href="/static/site.webmanifest" />
    <!-- Manifest Ends -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Schema Markup data -->
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Missing Persons Kenya",
    "url": "https://lostinkenya.org",
    "logo": "https://staging.lostinkenya.org/static/logo-no-background.png",
    "sameAs": [
        "",
        "",
        "",
        "",
        ""
        ]
    }
        </script>
    <!-- Schema Markup data ends -->

    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="header">
        <h1>Analytics | Abducted & Missing Persons in Kenya</h1>
    </div>

    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-white">Missing people by holding location</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="holdingLocationChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col col-md-6">
                <div class=" card">
                    <div class="card-header">
                        <h3 class="text-white">Missing people by gender</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="genderChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">

            <div class="col col-md-6">
                <div class=" card">
                    <div class="card-header">
                        <h3 class="text-white">Missing people by status</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="statusChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-white">Missing people security organs</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="securityOrgans"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div w3-include-html="/static/footer-copy.html"></div>

    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script src="/static/js/include.js"></script>
    <script src="/static/js/time.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="/static/js/analytics.js"></script>
</body>

</html>
