<head>
    <!-- Cookie Banner -->
    <!-- Start cookieyes banner -->
	<script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/45a49412fd0e4f69ab7a51bb/script.js"></script>
	<!-- End cookieyes banner -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abducted & Missing Persons in Kenya</title>
    <!-- Meta tags SEO -->
    <meta name="description"
        content="Find missing loved ones in Kenya. Report disappearances/abductions. View photos, descriptions. Get support resources. Help bring people home." />
    <meta name="keywords" content="missing persons kenya, Abducted kenyans, kidnapped Kenyans, Gen z, genz, Protests, Demonstrations" />
    <meta name="author" content="Gerathen AI" />
    <!-- Social Media Meta Tags -->
    <meta property="og:title" content="Missing persons Kenya" />
    <meta property="og:description"
        content="Find missing loved ones in Kenya. Report disappearances/abductions. View photos, descriptions. Get support resources. Help bring people home." />
    <meta property="og:image" content="/static/images/image_of_person.jpg" />
    <meta property="og:url" content="https://lostinkenya.org" />
    <meta name="twitter:title" content="Missing Persons Kenya" />
    <meta name="twitter:description"
        content="Find missing loved ones in Kenya. Report disappearances/abductions. View photos, descriptions. Get support resources. Help bring people home." />
    <meta name="twitter:image" content="/static/images/images/image_of_person.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <!-- Social Media Meta Tags End-->

    <link rel="manifest" href="/static/site.webmanifest" />
    <!-- Manifest Ends -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Schema Markup data -->
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Missing Persons Kenya",
    "url": "https://lostinkenya.org",
    "logo": "https://staging.lostinkenya.org/static/logo-no-background.png",
    "sameAs": [
        "",
        "",
        "",
        "",
        ""
        ]
    }
        </script>
    <!-- Schema Markup data ends -->

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>