<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracking Info for Missing Person</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add monitoring information for Missing person</h1>
    <form method="POST">
        <br>
        <label for="missing_person_monitor_id">Name:</label>
        <select name="missing_person_monitor_id" id="missing_person_monitor_id">
            {% for person in persons %}
                <option value="{{ person.id }}" > {{ person.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="photo_url">Photo URL:</label>
        <input type="url" id="photo_url" name="photo_url">
        <br>
        <label for="last_known_location">Last Known Location:</label>
        <input type="text" id="last_known_location" name="last_known_location" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
